p{
    font-family: Arial, serif;
}
h1,h2,h3,h4,h5,h6{
     font-family: 'Roboto Condensed', sans-serif;
 }
.keyword-box{
    height: 40px;
    margin-bottom: 7px;
    margin-right: 10px;
    border: 1px solid #EDE9E7;
    padding: 5px 10px 5px 10px;
}
#details-text{
    font-size: 22px;
    font-weight: 600;
    color: #403D3C;
}
.pointer {
    cursor: pointer;
}
.like{
    color: #AFABAA;
}
.unlike{
    color: #006600;
}
.keyword-delete{
    color: #AFABAA;
}
.details-page-icons{
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    .left-fixed-part {
        /*I used sticky instead of fixed because for the latter I will need to give the elements their parent width using js each time resize the window*/
        position: sticky;
        top: 1.5rem;
    }
}