<div class="container-lg">
  <div class="row mt-2">
    <div class="col-12">
      <h1 class="mt-2">{{  news.title }}</h1>
      <div class="row align-items-center">
        <div class="col-10 ">
          <i class="far fa-clock d-inline"></i>
          <p class="d-inline text-dark">{{ news.publishedAt | date: ' dd MMMM yyyy' }}</p>
        </div>
        <div class="col-2 text-right pointer">
          <i *ngIf="!news.isLiked" class="far fa-heart like details-page-icons" (click)="likeNews()"></i>
          <i *ngIf="news.isLiked" class="fas fa-heart unlike details-page-icons" (click)="unlikeNews()"></i>
        </div>
      </div>
      <hr>
      <a href="" data-fancybox>
        <img class="img-fluid w-100 pointer" [src]="news.urlToImage">
      </a>
      <p class="mx-md-5 mx-2 mt-2">{{ news.content }}</p>
    </div>
  </div>
</div>
